body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #264653;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo h1 {
    margin: 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.live-stock-banner {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.finance {
    max-width: 800px;
    margin: 150px auto 50px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: -25px;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-active {
        display: block;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin-bottom: 20px;
    }
}
