.live-stock-banner {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#stock-ticker {
    font-size: 1.2rem;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    text-align: center;
}

.finance {
    max-width: 800px;
    margin: auto;
    padding: 150px 20px 50px;
    text-align: center;
}

header {
    background-color: #264653;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 2; /* Changed z-index */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px; /* Adjusted */
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: -25px;
    }

    .nav-active {
        display: block;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin-bottom: 20px;
    }
}

/* Marquee Animation */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
